:root {
  --skill-gradient: linear-gradient(to right, #000000 0%,#2a5f60 50%,#22c1c3 100%);
}

.skill-list {
  list-style-type: none;
}

.skill-item {
  margin: 3%
}

.skill-name {
  width: 30%;
  display: inline-block;
}

.skill-bar {
  width: 50%;
  border-radius: 5px;
  background-color: #eee;
  display: inline-block;
}

.percentage-50 {
  width: 50%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-60 {
  width: 60%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-70 {
  width: 70%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-80 {
  width: 80%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-90 {
  width: 90%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-95 {
  width: 95%;
  border-radius: 5px;
  background: var(--skill-gradient);
}
.percentage-100 {
  width: 100%;
  border-radius: 5px;
  background: var(--skill-gradient);
}